langchain
python-dotenv
langchain_core
langchain_community
langchain_groq
transformers
wikipedia
arxiv
langchain_community
langchain_openai
faiss_cpu
fastapi
langserve
uvicorn
sse_starlette
langchain_huggingface